# Course: EEE 4710
# Assignment 01
---
## ID: 200021118
## Name: Omar Faruk
---

# Question: 01

A list is provided. Find the 2nd and 8th element from that list.

In [1]:
a=[2,5,3,'h',';',"k",7,10,[5,6]]

# write your answer below -
print(f"2nd element: {a[1]}\n8th element: {a[7]}")

2nd element: 5
8th element: 10

# Question: 02

A string is provided. Find the 1st and last element from that string.

In [2]:
b='coffee'

# write your answer below -
print(f"1st element: {b[0]}\nlast element: {b[-1]}")

1st element: c
last element: e

# Question: 03

Given a list, convert it into a numpy array.

In [5]:
import numpy as np

m=[3,4,0,-4,-2,1,6]

# write your answer below -


m_array = np.array(m)
print(m_array)

[ 3  4  0 -4 -2  1  6]

# Question: 04

Given a list of integers, find the negative elements from the list.

In [6]:
p=[-3,7,-4,0,1,6,-9]

# write your answer below -

p_neg = [i for i in p if i < 0]
print(f"Negative elements: {p_neg}")

Negative elements: [-3, -4, -9]

# Question: 05

A list x is provided. Extract 25 and 'dec' from it.

In [10]:
x=['Nov', (5,15,25), ['p','q',[100,1000,['dec','jan']]],'apex']

# write your answer below -
print(f"Extract 25: {x[1][2]}")
print(f"Extract 'dec': {x[2][2][2][0]}")

Extract 25: 25
Extract 'dec': dec

# Question: 06

A list is provided.
1. First invert it.
2. Then join it to the original list.
3. Create a replica of it and add it to the end.

Test Case:

a= [3,4,10]

1=> [10,4,3]

2=> [3,4,10,10,4,3]

3=> [3,4,10,10,4,3,3,4,10,10,4,3]

In [13]:
# write your code here
a = [3,4,10]

# reverse a
a_invert = a[::-1]
print(a_invert)

# add a and a_invert
a_join = a + a_invert
print(a_join)

# Replecate a_join and join them
a_join_replica = a_join * 2
print(a_join_replica)

[10, 4, 3]
[3, 4, 10, 10, 4, 3]
[3, 4, 10, 10, 4, 3, 3, 4, 10, 10, 4, 3]

# Question: 07

The list 'movie' contains names of some movies. The list 'score' contains rating of those movies. Sort the score list in a descending manner. Then sort the movie list according to their ratings.

In [30]:
movie=['Avatar','Lost in translation','Enemy','Coherence','Avengers', 'Zack Snyders Justice League']
score= [9,10,8,8.5,7,10]
# write your code here

movie_score = [i for i in zip(movie, score)]
movie_score.sort(key=lambda pair: pair[1] , reverse=True)
movie , score = zip(*movie_score)

print(f"Movie = {movie}")
print(f"Score = {score}")

Movie = ('Lost in translation', 'Zack Snyders Justice League', 'Avatar', 'Coherence', 'Enemy', 'Avengers')
Score = (10, 10, 9, 8.5, 8, 7)

# Question: 08

Given a list of integers, for each of the elements:
* if an item is divisible by 2, square it
* if it is divisible by 3, cube it
* otherwise, remove the item from the list

In [33]:
m=[3,4,0,-4,-2,1,6]

# write your answer below -
M = []
for i in m:
    if i%2 == 0:
        M.append(i**2)
    elif i%3 == 0:
        M.append(i**3)

print(f"M = {M}")

M = [27, 16, 0, 16, 4, 36]

# Question: 09

Write a function that takes a list as an input and returns the top 3 elements from the list. The list may contain strings (ignore them).

In [34]:
p=[-3,7,-4,0,1,6,-9, 'apple', 'mango', [28732, 23, 24556]]
q= [ 29, 22, 24, 5]
# write your function here, then call it in the next cell for bath cases
def top_3(List):
    if len(List) < 3:
        print("List has less than 3 elements")
        return -1
    else:
        return List[:3]

In [35]:
top_3(p)

[-3, 7, -4]

In [36]:
top_3(q)

[29, 22, 24]

# Question: 10

A list is provided. Remove any item which is not a string.

Hint: isinstance

In [46]:
x=['Nov', (5,15,25), ['p','q',[100,1000,['dec','jan']]],'apex']

# write your answer below -
x = [i for i in x if isinstance(i , str)]
x

['Nov', 'apex']

# Question: 11

Write a function that takes a list of years and returns a logical array corresponding to the original list based on whether each item(year) in the list is a leap year or not.

In [48]:
def find_leap_year(year_list):
  isleap = []
  for year in year_list:
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
      isleap.append(True)
    else:
      isleap.append(False)
  return isleap

In [49]:
year=[2020,2015,2014,2000,1900,1950,1944,1896,1800,1820,1600]
find_leap_year(year)

[True, False, False, True, False, False, True, True, False, True, True]

# Question: 12

Write a function that takes two lists. First calculate the pairwise product. Then find the average value and summation of those products. Return these two values from the function.

In [51]:
# write your function here
def pair_product(x_list,y_list):
    xy = []
    for x , y in zip(x_list,y_list):
        xy.append(x*y)
    
    sum_xy = sum(xy)
    avg_xy = sum_xy/len(xy)

    return avg_xy , sum_xy

In [52]:
x1=[3,7,5,1,8,10]
x2=[10,2,0,4,1,6]

sum , avg = pair_product(x1,x2)
print(f"Sum = {sum}")
print(f"Average = {avg}")

Sum = 19.333333333333332
Average = 116